xml/src/main/xsd/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://jeesl.org/test"
    xmlns:test="http://jeesl.org/test"
    xmlns:wiki="http://www.openfuxml.org/wiki"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="test">
        <xsd:complexType>
            <xsd:attribute name="key" type="xsd:string"/>
            <xsd:attribute name="value" type="xsd:string"/>
            <xsd:attribute name="description" type="xsd:string"/>
			<xsd:attribute name="required" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>