trunk/xml/src/main/resources/xsd/util/ads.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://exlp.sf.net/ads"
    xmlns:ads="http://exlp.sf.net/ads"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="user">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:long"/>
            <xsd:attribute name="firstName" type="xsd:string"/>
            <xsd:attribute name="lastName" type="xsd:string"/>
            <xsd:attribute name="account" type="xsd:string"/>
            <xsd:attribute name="email" type="xsd:string"/>
            <xsd:attribute name="info" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>